# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# Windows
Thumbs.db
*.DS_Store
